.hidden{
    display: none;
}

body{
    padding-top: 45px;
    text-align: center;
    vertical-align: middle;
}

input:focus{
    outline: none;
    transition: background-color .3s ease-in-out;
}

#clock{
    width: 600px;
    height: 150px;
    border: 2px inset black;
    border-radius: 10px;
    position: relative;
    left: 50%;
    margin-left: -300px;
    vertical-align: middle;
}

#date{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#time{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#login-form{
    padding-top: 5%;
    width: 400px;
    position: relative;
    left: 50%;
    margin-left: -190px;
}

#login-form input:first-child{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    text-align: center;
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#login-form input:first-child::placeholder{
    color: black;
}

#login-form input:first-child:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .3s ease-in-out;
    border-radius: 8px;
}

#login-form input:last-child{
    background-color: black;
    opacity: 0.9;
    color: antiquewhite;
    border: 2px antiquewhite;
    border-radius: 6px;
    text-align: center;
    width: 80px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#login-form input:last-child:hover{
    color: black;
    border: 2px inset black;
    background-color: aliceblue;
    opacity: 0.6;
    transition: background-color .3s ease-in-out;
}

#greeting{
    padding-top: 30px;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#todo{
    width: 650px;
    height: 320px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    border: 2px inset black;
    border-radius: 10px;
}

#todo-form input{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    width: 450px;
    height: 20px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#todo-form input::placeholder{
    color: black;
}

#todo-form input:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .3s ease-in-out;
    border-radius: 8px;
}

#todo-list{
    position: relative;
    top: 15px;
    left: 50%;
    margin-left: -270px;
    width: 400px;
    text-align: left;
}

#todo-list li{
    list-style: outside circle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

#todo-list button{
    position: fixed;
    left: 38%;
    border: 1px solid black;
    border-radius: 3px;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

#todo-list button:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color .3s ease-in-out;
}

#quote{
    padding-top: 10px;
    display: block;
    width: 650px;
    height: 140px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    align-content: center;
    border: 2px inset black;
    border-radius: 10px;
    font-style: italic;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
}

#gps{
    padding-top: 15px;
    position: absolute;
    width: 650px;
    height: 140px;
    bottom: 27%;
    right: 5%;
    border: 2px inset black;
    border-radius: 10px;
}

#gps span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#city{
    font-size: 20px;
}